* {
    --default-color: #343434;
    --header-color: #161616;
    --hope-in-the-dark: #29175C;
    --ike-eveland: #348EC7;
    --mysta-rias: #c3552B;
    --vox-akuma: #960018;
    --luca-kaneshiro: #D4AF37;
    --shu-yamino: #a660A7;
    --white-text: #F0F0F0;
}